.DS_Store
logs
project/project
project/target
target
tmp
.history
/.idea
/*.iml
*.sc
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/bin/
/.worksheet/
*.cache

gestalt-security-sdk-scala.ipr
gestalt-security-sdk-scala.iws
